/* 更改 pagination 的點樣式 */
.swiper-pagination-bullet {
  width: 12px; /* 調整點的寬度 */
  height: 12px; /* 調整點的高度 */
  opacity: 0.5; /* 點的透明度 */
  margin: 0 5px; /* 點之間的間距 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  transform: scale(1.5); /* 當前點放大效果 */
  opacity: 1; /* 當前點全透明效果 */
}

/* pagination 容器位置 */
.swiper-pagination {
  bottom: 20px; /* 距離底部的距離 */
}

.custom-swiper .swiper-pagination-bullet {
  background-color: var(--chakra-colors-primary-200);
}
.custom-swiper .swiper-pagination-bullet-active {
  background-color: var(--chakra-colors-primary-400);
}

/** swiper navigation */
/* 覆蓋 Swiper 的 navigation 樣式 */
.swiper-button-next,
.swiper-button-prev {
  color: var(--chakra-colors-gray-400); /* 使用 Chakra UI 的變數 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--chakra-colors-gray-600);
}


